@{     
    ViewData["Title"] = "Introduction of the ASP.Net";

}
<div class="text-center">
    <h3 class="display-4"> Karanbhai Patel</h3>
</div>

@section first_container{
    <p> My Name is Karanbhai Patel</p>
}

<form action="/action_page.php">
    <label for="fname">First Number:</label><br>
    <input type="Number" name="Fnumber" value="99"><br>
    <label for="fname">Second Number:</label><br>
    <input type="Number" name="Snumber" value="89"><br>
    <input type="submit" value="Submit">

</form> 
